@keyframes flipped-next-mobile {
    16% {
        width: 300px;
    }
    32% {
        width: 250px;
    }
    48% {
        width: 250px;
    }
    65% {
        width: 250px;
    }
    83% {
        width: 250px;
    }
    100% {
        width: 250px;
    }
}


@keyframes flipped-page {
    //blur
    16% {
        opacity: 0.16;
    }
    32% {
        opacity: 0.32;
    }
    48% {
        opacity: 0.48;
    }
    65% {
        opacity: 0.65;
    }
    83% {
        opacity: 0.83;
    }
    100% {
        opacity: 1;
    }
}

@keyframes searchGlow {
    0% {
        box-shadow: 0px 0px 5px rgb(226, 136, 151);
    }
    10% {
        box-shadow: 0px 0px 5px rgb(226, 136, 151);
    }
    20% {
        box-shadow: 0px 0px 10px rgb(226, 136, 151);
    }
    40% {
        box-shadow: 0px 0px 15px rgb(226, 136, 151);
    }
    60% {
        box-shadow: 0px 0px 20px rgb(226, 136, 151);
    }
    80% {
        box-shadow: 0px 0px 15px  rgb(226, 136, 151);
    }
    90% {
        box-shadow: 0px 0px 10px rgb(226, 136, 151);
    }
    100% {
        box-shadow: 0px 0px 5px rgb(226, 136, 151);
    }
}

