//lightmode colors
$color-primary:  rgb(238, 238, 238);
$color-secondary: rgb(54, 33, 14);
$color-secondary-lighter: lighten($color-secondary, 30%);
$color-background: rgb(111, 178, 94);

//darkmode colors