//basic uppbyggnad

@use "animations";
@use "base";
@use "components";

* {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    background-image: url("../images/book-brickwall_1920.jpg");

}

header {
    background-color: base.$color-primary;
    width: 68%;
    height: 90px;
    text-align: center;
    margin-left: 17%;
    margin-right: 20%;
    margin-top: 12%;
    margin-bottom: -6%;


    .logo {
        font-family:'Courier New', Courier, monospace;
        font-size: 32px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding: 10px;
    }
}

#bookImage {
    width: 130px;
    height: 200px;
}

main {
    max-width: 70%;
    height: auto;
    padding: 12%;
    margin-left: 5%;
    margin-right: 10%;
}

form {
    background-color: base.$color-primary;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 6%;
}

form h1 {
    font-size: 24px;
    margin-bottom: 7%;
}

form button {
    margin-top: 7%;
}

#displaySearch {
    background-color: base.$color-primary;
}


