
@use "animations";
@use "base";
@use "components";
@import "components";

* {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header och logga */
header {
    width: 70%;
    height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    padding-top: 10px;


    .logo {
        font-family:'Courier New', Courier, monospace;
        font-size: 32px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin-top: 15px;
    }
}

    header:active {
        animation: funInk 2s infinite;
    }


/* main */
main {
    max-width: 70%;
    height: auto;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}


/* formulär */
form {
    width: 60%;
    height: auto;
    text-align: center;
    padding: 5%;
    padding-bottom: 6%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6%;
}

form h1 {
    font-size: 24px;
    margin-bottom: 6%;
}

/* sök-knapp */
#searchButton {
    @include bigButton();
    margin-top: 7%;
}

#searchButton:hover {
    animation: searchGlow 2s infinite;
}


/* MOBIL:  utskriftsområde */
#displayOnPhone div {
    margin-bottom: 3em;
}

#displayOnPhone article {
    text-align: center;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#displayOnPhone img {
    padding-top: 2em;
}

#displayOnPhone p {
    padding-bottom: 2em;
}



/*DESKTOP: bok*/
.book {
    display: none;
}


#next-btn, #prev-btn {
    display: none;
}



/* Rescensioner */
#reviews {
    width: 60%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    padding-left: 6%;
    padding-left: 6%;
    padding-bottom: 2em;
}

#reviewsH2 {
    @extend #reviews;
    width: 61%;
    display: none;
    padding-left: 2%;
    padding-left: 2%;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}



/* footer */
footer {
    width: 100%;
    height: 70px;
    margin-top: 30%;
    text-align: center;
    padding-top: 6%;
} 

/*ljust tema*/
@media (prefers-color-scheme: light) {
    body {
        background-color: base.$color-background;
    }

    header, form, footer, #displayOnPhone article, #reviews {
        background-color: base.$color-primary;
        color: black;
    }

    #searchButton {
        background-color: base.$color-secondary-lighter;
        color: black;
    }

    #searchButton:hover {
        background-color: base.$color-primary-darker;
    }

    #next-btn, #prev-btn {
        color: base.$color-secondary;
    }

    i:hover {
        color: base.$color-primary;
    }

    .front {
        border-left: 3px solid base.$color-background;
    }

    .front, .back {
        background-color: base.$color-primary;
        color: black;
    }

}

/*mörkt tema*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    header, form, footer, #displayOnPhone article, #reviews {
        background-color: base.$color-secondary;
        color: white;
    }

    #searchButton {
        background-color: base.$color-background;
        color: white
    }

    #searchButton:hover, i:hover  {
        background-color: base.$color-primary-darker;
    }

    #next-btn, #prev-btn {
        color: base.$color-background;
    }

    .front {
        border-left: 3px solid black;
    }

    .front, .back {
        background-color: base.$color-secondary;
        color: white;
    }


}

/*TABLET*/
@media (min-width: 600px) {

}

/*DESKTOP*/
@media (min-width: 1024px) {

    header {
        width: 40em;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 2.5em;
        margin-top: 3em;
    }


    /* formulär */
    form {
        width: 37.5em;
        height: auto;
        padding: 1%;
        padding-bottom: 2%;
        margin-bottom: 1em;;
    }

    /*main-innehåll*/
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
    }


    /*MOBIL: utskriftsområde */
    #displayOnPhone {
        display: none;
    }

    #next-btn, #prev-btn {
        @include smallButton();
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

    i {
        font-size: 50px;
    }


    /*DESKTOP: bok */
    .book {
        display: inline-block;
        position: relative;
        width: 350px;
        height: 500px;
        transition: transform 0.5s;
    }

    /*bläddereffekt*/
    .flipped .front,
    .flipped .back {
        transform: rotateY(-180deg);
    }

    /*bokens innehåll*/
    .book img {
        width: 100px;
        height: 150px;
    }
    
    
    .paper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        perspective: 1500px;

    }
    
    .front {
        @include papers;
        z-index: 1; 
        backface-visibility: hidden;
        overflow-y: scroll;
    }
    
    .back {
        @include papers;
        z-index: 0;
    }
    
    .front-content,
    .back-content {
        width: 100%;
        height: 100%;
        padding: 12%;
        margin-left: -2em;
    }
    
    .back-content {
        transform: rotateY(180deg);
        text-align: center;
    }
    
    .back-content p {
        margin-top: 6%;
        margin-bottom: 1.5%;
    }

    .back-content h3 {
        padding-left: 1em;
        padding-right: 1em;
    }

    .front-content div {
        padding: 8%;
        margin-top: -1.5em;
    }
    
    /*omslag*/
    #f1 {
        background-color: base.$color-secondary;
        color: white;
        padding-left: 4em;
        /*#b6 ska egentligen också ha dessa inställningar, men den
        växer i storlek varje gång den får färg på sig. Just nu får den långfingret
        och får behålla sin vita färg.*/
    }

    
    /*texten som kommer fram på första sidan*/
    .cover-effect {
        width: 350px;
        height: 500px;
        opacity: 0;
        z-index: 1; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .cover-effect:hover {
        animation: secretMessage 3s linear;
    }
    
    
    /*bläddereffekt*/
    .flipped .front
    .flipped .back 
    {
        transform: rotateY(-180deg);
    }
    
    
    /* papprenas ordning */
    #p1 {
        z-index: 6; 
    }
    
    #p2 {
        z-index: 5; 
    }
    
    #p3 {
        z-index: 4; 
    }
    
    #p4 {
        z-index: 3; 
    }
    
    
    #p5 {
        z-index: 2; 
    }
    
    
    #p6 {
        z-index: 1; 
    }
    

    /* rescensioner */
    #reviews {
        width: 26.5%;
    }

    #reviewsH2 {
        width: 30%;
    }

    footer {
        padding-top: 2%;
        margin-top: 3%;
    }
}